@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat:300,500,600|Oswald');

@import url('https://fonts.googleapis.com/css?family=Abel|Montserrat');

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');

adida
*{padding:0;
margin:0;
box-sizing:border;
}

body{font-size: : 16px; <!--16px + 1 em-->
}

header{background-color: orange;
}

#wrapper{width:1080px;
		margin:auto; 
		background-color:grey;
		border:5px black;
	}

nav{text-align: center; 
	background-color: purple;
	}

a{font-family:"Abel"; 
	text-transform: uppercase;
	text-decoration: none;
	margin-left:10px;
	margin-right:10px;
	color:black;
	width:100%;
}

.topanchor:{text-align:center;}

nav a.hover{color: blue;
}

hr{margin-top:2.5em;
	margin-bottom:2.5em;
	;}

.thumbnail{
	width:250px;
	height:320px;
	margin:auto;
	display:inline-block;  
}

.full{
	height:500px;
	width:300px;
}

.small{
	height:100px;
	width:100px;
	margin:20px;
	float:left; 
}

.thumb{
  display: block;
  width: 100%;
  height: auto;
  float:left;
  margin-bottom:0.75em;
}

.image2{
  display: block;
  height: 100%;
}

aside{float:right;
}
span{
	width:44em;
	height:500px;
	}

h1 {
	font-family:"Oswald";
	font-size:3.75em;
	font-weight:500;
	letter-spacing: 0.15em;
	margin-top: 1.5em;
	text-transform:uppercase;
	text-align:center;
	}


h2 {font-family:"Abel";
	font-size:2em;
	letter-spacing:0.1em;
	margin-top: 0.4em;
	text-transform:uppercase;
	text-align:center;
	}

h3 {font-family:"Abel";
	text-transform: uppercase;
	font-weight:400;
	font-size: 1em;
	padding:0.1em;
	margin-top:2em;
	text-align:center;
	}

h4 {font-family:"Oswald";
	font-weight: 500;
	font-size: 1.5em;
	text-align: center;
	line-height: 1em;
	text-transform:uppercase;
	}


p{font-family:"Abel";
font-size: 1em;
line-height:1.5em;
text-align: left;
margin:2em;
}




