@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

h1 {
	font-family:"Josefin Sans";
	font-size:50px;
	font-weight:thin;
	letter-spacing: 1px;
	padding-top: 25px;
	padding-left: 10px;
	text-transform:uppercase;
	line-height: 26.4px;
	}

h2 {
	font-family: "Josefin Sans";
	font-size:20px;
	font-weight:bold;
	letter-spacing: 1px;
	padding-left: 14px;
	text-transform:uppercase;
	line-height: 1em;
	}


h3 {  
	font-family:"Josefin Sans";
	font-size:12px;
	letter-spacing: 1px;
	color: white;
	background-color:rgb(210,210,210);
	text-transform: uppercase;
	padding-left: 5px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
	}

h4{font-family:"Josefin Sans";
	font-size:20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height:1em;
}

h5 {
	font-family: "Josefin Sans";
	font-size:30px;
	font-weight:bold;
	letter-spacing: 1px;
	padding-left: 14px;
	text-transform:uppercase;
	line-height: 1em;
	}

p{ font-family: georgia;
	line-height:2em;
	margin: 15px;
	max-width: 700px;
 }

br{ line-height: 10.4px;
	padding-bottom: 20px;
}

ul {font-family:"Josefin Sans";
	text-transform:uppercase;
	text-align:left;
	list-style-type: none;
    margin: 20px;
    padding:0px;
    width: 100%;
	float: left;
	display: table-cell;
	}

#nav li {float: left; }

div {
	width:250px;
	height:325px;
	display:inline-block;
	background-color:white;
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 30px;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
	}

img{
    width:250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
	}
